:root{
  --mainblue:#2a2a72;
  --lightblue:#009ffd;
  --mainwhite:#f3f3f3;
  --maindark:#232528;
  --mainyellow:#ffa400;
} 
.btn-black{
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;color: var(--maindark);
  border-radius: 0rem !important;
  border: 0.1rem solid var(--maindark);
}
.btn-black:hover{
  background: var(--maindark) !important;
  color: var(--mainwhite) !important;
}
.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainyellow);
}
body{
  font-family: 'Nunito', sans-serif !important;
  background: rgba(208, 211, 212) !important;
  color: var(--maindark);

}
.badge{
  font-size: 1.2rem  !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
